.vs/LifeStealClass/FileContentIndex/3cea2399-85c2-4782-b451-57b819346285.vsidx
.vs/LifeStealClass/FileContentIndex/51dd9dca-eb19-4077-9a6e-ec832ab5e562.vsidx
.vs/LifeStealClass/FileContentIndex/92ba3be3-4fc1-41f7-913d-424ca478dd90.vsidx
.vs/LifeStealClass/FileContentIndex/ef4db9bc-2f98-452a-b960-753e1abdfa54.vsidx
.vs/LifeStealClass/FileContentIndex/93d62aac-ae3d-4ce8-b3de-3333e254e5d6.vsidx
.vs/LifeStealClass/FileContentIndex/4dced6e8-17c0-4711-aad6-4afac8877df5.vsidx
